.border {
    margin: 50px 35% 10px 35%;
    padding-bottom: 60px;
    padding-top: 15px;
    border: solid black 2px;
    border-radius: 25px;
    background-color: rgba(0, 50, 200, 0.15);
}

.big_submit {
    padding: 15px 0px 65px 0px;
    text-align: center;
    font-size:xx-large;
}

.big_info_submit {
    padding: 5px 0px 0px 0px;
    text-align: center;
    font-size: x-large;
}

.auth_error {
    color: red;
    text-align: left;
    padding-left: 5rem;
}