.border {
    margin: 50px 32% 35px 32%;
    padding-left: 25px;
    padding-bottom: 60px;
    padding-top: 15px;
    border: solid black 2px;
    border-radius: 25px;
    background-color: rgba(0, 50, 200, 0.15);
}

.big_submit {
    padding: 15px 0px 25px 0px;
    text-align: center;
    font-size:xx-large;
}

.big_info_submit {
    padding: 5px 0px 0px 0px;
    text-align: center;
    font-size: x-large;
}

.auth_error {
    color: red;
    text-align: left;
    padding-left: 5rem;
}

.tags_list {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.tags_list_item {
    margin-right: 5px;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    margin: 5px 5px 5px 5px;
}

.small_delete_button {
    margin-left: 5px;
    --bs-btn-font-size: .55rem;
}

.error_message {
    color: red;
}

.nice_hyphen {
    align-content: center;
}